.under_the_nav {
    padding-top: 80px;
}
body {
    background-color: whitesmoke;
}

.align-center {
    text-align: center;
}

.song-container {
    background-color: white;
    padding-left: 0;
    border-radius: 5px;
}

.song-img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.song-title {
    font-size: bold;
    padding-top: 6px;
    margin-bottom: 0;
}

.play-button-sm {
    font-size: 40px;
    padding-top: 10px;
}

.play-button-lg {
    color: #212529;
    font-size: 100px;
    transition: .2s;
}

.play-button-lg:hover {
    color: #4e4e5a;
    transition: .2s;
}

.fa-play-circle, .fa-pause-circle {
    padding-left: 20px;
    padding-right: 20px;
}

.song-infos {
    color: gray;
    font-size: 12px;
    line-height: 15px;
}

/* Slider part */

.time_container {
    text-align: right;
}

#fullTime {
    display: inline;
}

.slider {
    margin-top: 10px;
    text-align: center;
}

#slider-color {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;   
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
}
    
#slider-color::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%; 
        background: #00b7ffad;
        cursor: pointer;
}
    
#slider-color::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #00b7ffad;
        cursor: pointer;
}

/* auth styles */
.btn-google {
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-google:hover {
    background-color: #dd4b39;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
}